<%= link_to "Anxiety Helper", root_path, class: "navbar-brand", id: "logo" %>

<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <ol>
    <% @blogs.each do |blog| %>
      <li><%= blog.name%></li>
    <% end %>
  </ol>


